<%= form_for(@message) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from %> <%= f.text_field :from %> →
    <%= f.label :to %> <%= f.text_field :to %>
  </div>

  <div class="field">
    <%= f.label :message %><br>
    <%= f.text_field :message, size: 100 %>
  </div>
  <div class="actions">
    <%= f.hidden_field :redirect_to, value: @redirect_to %>
    <%= f.submit %>
  </div>
<% end %>
