<h2 id='say'>Say your arigato (thank you) to someone great!</h2>

<%= render template: 'messages/_form' %>

<h2 id='recent'>Recent Messages</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>From</th>
      <th>To</th>
      <th>Message</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |m| %>
    <tr>
      <td><%= m.from %></td>
      <td><%= m.to %></td>
      <td><div><%= image_tag m.stamp.blank? ? 'stamp/hanamaru02-002.gif' : "stamp/#{m.stamp}" %> <%= m.message %></td>
      <td><%= link_to m.created_at, m %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @messages %>

<h2 id='runtime_information'>Runtime information</h2>

<ul>
  <% %w(
    /gc_tracer
    /gc_tracer/text
    /allocation_tracer/
    /allocation_tracer/allocated_count_table
    /allocation_tracer/freed_count_table
    /allocation_tracer/lifetime_table
    ).each do |page| %>
  <li><a href='<%= page %>'><%= page %></a></li>
  <% end %>
</ul>

